* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Tajawal", sans-serif;
  text-align: center;
  background: #f9f9f9;
  direction: rtl;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.logo img {
  height: 50px;
  max-width: 160px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 12px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-links a:hover {
  background: rgba(255, 127, 0, 0.3);
  border-radius: 5px;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 100px auto;
  background: linear-gradient(
    135deg,
    rgba(255, 127, 0, 0.9),
    rgba(255, 85, 0, 0.9)
  );
  color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
input,
button {
  padding: 12px;
  width: 85%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
button {
  background: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: #ff7f00;
  transform: scale(1.05);
}

.result-box {
  margin-top: 20px;
  padding: 20px;
  background: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.data-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.data-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #f8f9fa;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  width: 100%;
}
